---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import logo from '../../public/static/logo.png'
---

<Layout>
  <PageHead slot="head" title="About" />
  <div class="container mx-auto flex flex-col gap-y-6 px-4 sm:px-6 lg:px-8">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">
          <Image src={logo} alt="Logo" class="size-12 float-left mr-4 rounded-sm" />
          About Me
        </h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          Hey, I'm <b>tlsbollei</b>. I currently work as a Security Researcher at
          <Link href="https://istrosec.com/" external>IstroSec</Link>, and at the age of 16,
          I'm pursuing secondary education at
          <Link href="https://gymholl.edupage.org" external>Gymnázium Jána Hollého</Link>.
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          As far as CTFs go, I represent my country, Slovakia, and consistently play with them as part of
          <Link href="https://ctftime.org/team/197247/" external>Slovak Cyber Team</Link>, where I love solving hardcore reverse engineering and pwn challenges. Professionally,
          I work as a Security Researcher. I actively look for 0days, reverse engineer malware, develop tools for red team exercises, and do a bunch of cool stuff in the research & development dept.
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          I also like to develop custom malware loaders, deep-dive into Windows internals, and my main
          focus lies in enterprise EDR evasion, an area to which I contribute academically ( • . • ) 
        </p>
         <p class="prose prose-neutral mb-8 dark:prose-invert">
          Outside of the world of cybersecurity, I play a lot of League of Legends, Dota 2 ◕⩊◕ , and I love strategy games. 
        </p>
      </div>
    </section>
  </div>
</Layout>
